.container{
    display: flex;
    flex-direction: row;
   
}

.quinaTextArea{
    width: 400px;
    height: 320px;
    
    margin-left: 20%;
    margin-top: 100px;
}

#btnInserts{
    width: 160px;
    margin-left: 30%;
}

#txts{
    margin-left: 5%;
    margin-right: 5%;
}